{% extends "dj_theme/base_not_logged_in.html" %}
{% load i18n %}
{% load account %}
{% load allauth %}

{% block head_title %}
  {% trans "Confirm Email Address" %}
{% endblock head_title %}

{% block content %}
  {% include "dj_theme/header.html" %}

  <section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <h1 class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
        {% trans "Confirm Email Address" %}
      </h1>

      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          {% if confirmation %}
              {% user_display confirmation.email_address.user as user_display %}

              {% if can_confirm %}
                <p>
                  {% blocktrans with confirmation.email_address.email as email %}
                    Please confirm that
                    <a href="mailto:{{ email }}" class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline">{{ email }}</a>
                    is your email address.
                  {% endblocktrans %}
                  {% comment %}
                    Originally: is an email address for user {{ user_display }}.
                  {% endcomment %}
                </p>

                {% url 'account_confirm_email' confirmation.key as action_url %}

                {% element form method="post" action=action_url %}
                  {% slot actions %}
                    {% csrf_token %}

                    {% element button type="submit" tags="prominent,signup" %}
                      {% trans 'Confirm' %}
                    {% endelement %}
                  {% endslot %}
                {% endelement %}
              {% else %}
                <p>
                  {% blocktrans %}
                    Unable to confirm {{ email }} because it is already confirmed by a different account.
                  {% endblocktrans %}
                </p>
              {% endif %}
          {% else %}
            {% url 'account_email' as email_url %}
            <p>
              {% blocktrans %}
                This email confirmation link expired or is invalid.
                Please <a href="{{ email_url }}" class="font-medium text-blue-600 underline dark:text-blue-500 hover:no-underline">
                issue a new email confirmation request</a>.
              {% endblocktrans %}
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <c-footer />
{% endblock content %}
