{% extends "dj_theme/base_not_logged_in.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
  {% include "dj_theme/header.html" %}

  <section class="bg-gray-50 dark:bg-base-100">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <h1 class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-base-content">
        {% trans "Password Reset" %}
      </h1>

      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-base-200 dark:border-base-300">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
          {% endif %}

          <p>
            {% blocktrans %}
              We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.
            {% endblocktrans %}
          </p>
        </div>
      </div>
    </div>
    </section>
{% endblock content %}
