{% extends "dj_theme/base_logged_in.html" %}
{% load allauth i18n %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% comment %}
  Note on styling strategy:

  I have come accross two options for styling allauth forms:

  (A) Use the allauth form as is and style it with CSS.
  (B) Take parts of the code "out" from allauth, into the project's templates and
      style them there.

  Former seems more appropriate as it allows for allauth to update without following
  its updates to rerender the templates. Latter allows templating to be more flexible
  as in the rest of the application.

  Currently chose (B), as the application progresses, it is possible to rewrite
  everything in "custom"/"own" templates, for example add "Change Password" to a different
  "Settings" page, and leaving this one out or as a redirect in case someone gets
  "clever" with the URLs, or taking out from allauth's URL imports.
{% endcomment %}

{% block logged_in_content %}
  <main>
    <div class="px-4 pt-6">
      {% include "dj_theme/messages.html" %}

      <div class="grid grid-cols-1 mb-4 xl:grid-cols-1 xl:gap-4">
        {% element h5 %}
          {% trans "Change Password" %}
        {% endelement %}

        {% url 'account_change_password' as action_url %}

        {% if form.errors %}
          <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">
            {% trans "Please correct the following errors:" %}
          </h2>

          <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
            {% for key, value in form.errors.items %}
              <li id="password_error_{{key}}">
                {{ value.as_text|cut:"*" }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        <form method="post" action="{{ action_url }}" class="space-y-4 max-w-sm mx-auto md:mx-2">
          {% csrf_token %}

          <div class="space-y-2">
            {% for field in form %}
              <div>
                <label for="{{ field.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                  {{ field.label }}
                </label>

                <input {% if field.required %}required{% endif %}
                  {% if field.disabled %}disabled{% endif %}
                  {% if field.readonly %}readonly{% endif %}
                  {% if field.checked %}checked{% endif %}
                  {% if field.name %}name="{{ field.name }}"{% endif %}
                  {% if field.id %}id="{{ field.id }}"{% endif %}
                  {% if field.placeholder %}placeholder="{{ field.placeholder }}"{% endif %}
                  {% if field.autocomplete %}autocomplete="{{ field.autocomplete }}"{% endif %}
                  value="{{ field.value|default_if_none:"" }}"
                  {% if field.errors %}
                    class="bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500"
                  {% else %}
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
                  {% endif %}
                  type="{% if field.type %}{{ field.type }}{% else %}password{% endif %}">

                {% if field.errors %}
                  <p class="text-red-500 text-xs italic">
                    {% for error in field.errors %}
                      {{ error }}<br />
                    {% endfor %}
                  </p>
                {% endif %}

                {% if field.help_text %}
                  <div class="mt-2 text-sm text-gray-500 dark:text-gray-400">
                    {{ field.help_text }}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>

          <div class="flex justify-between items-center">
            <button type="submit" class="bg-indigo-600 hover:bg-indigo-700 text-white px-4 py-2 rounded-md">
              {% trans "Change Password" %}
            </button>

            {% comment %}
              Commented out as corresponding template has not been styled yet.

              <a href="{% url 'account_reset_password' %}" class="text-indigo-600 hover:text-indigo-700">
                {% trans "Forgot Password?" %}
              </a>
            {% endcomment %}
          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock logged_in_content %}
