{% extends "dj_theme/base_not_logged_in.html" %}
{% load i18n %}
{% load allauth %}

{% block head_title %}
  {% trans "Verify Your Email Address" %}
{% endblock head_title %}

{% block content %}
  {% include "dj_theme/header.html" %}

  <section class="bg-gray-50 dark:bg-base-100">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <h1 class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-base-content">
        {% trans "Verify Your Email Address" %}
      </h1>

      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-base-200 dark:border-base-300">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <p>
            {% blocktrans %}
              We have sent an email to you for verification. Follow the link provided
              to finalize the signup process.
            {% endblocktrans %}
          </p>

          <p>
            {% blocktrans %}
              If you do not see the verification email in your main inbox,
              check your spam folder.
              <br />
              Please contact us if you do not receive the verification email
              within a few minutes.
            {% endblocktrans %}
          </p>
        </div>
      </div>
    </div>
  </section>

  {% include "dj_theme/partials/content/footer_block.html" %}
{% endblock content %}
