#                      _ _     _
#    ___ _ ____   ____| (_)___| |_
#   / _ \ '_ \ \ / / _` | / __| __|
#  |  __/ | | \ V / (_| | \__ \ |_
# (_)___|_| |_|\_(_)__,_|_|___/\__|
#
# This file is here ONLY to facilitate development
#
# SECURITY WARNING: don't run with the debug turned on in production!
DEBUG=True
ENVIRONMENT=development
