{% extends "_base.html" %}

{% block content %}
    {% include "dj_landing_page/partials/header.html" %}

    {% include "dj_landing_page/partials/hero_block.html" %}

    {% include "dj_landing_page/partials/icon_row_block.html" %}

    {% include "dj_landing_page/partials/features_block.html" %}

    {% include "dj_landing_page/partials/used_by_block.html" %}

    {% include "dj_landing_page/partials/customer_quotes.html" %}

    {% include "dj_landing_page/partials/pricing_card_block.html" %}

    {% include "dj_landing_page/partials/faq_block.html" %}

    {% include "dj_landing_page/partials/start_trial_cta_block.html" %}

    {% include "dj_landing_page/partials/footer_block.html" %}

{% endblock content %}
