<section class="bg-white dark:bg-base-100">
    <div class="max-w-screen-xl px-4 pb-8 mx-auto lg:pb-24 lg:px-6 ">
        <h2 class="mb-6 text-3xl font-extrabold tracking-tight text-center text-gray-900 lg:mb-8 lg:text-3xl dark:text-base-content">Frequently asked questions</h2>
        <div class="max-w-screen-md mx-auto">
            <div class="join join-vertical w-full">
                <div class="collapse collapse-arrow join-item border-b border-gray-200 dark:border-base-300 bg-white dark:bg-base-100">
                    <input type="radio" name="faq-accordion" checked />
                    <div class="collapse-title py-5 font-medium text-gray-900 dark:text-base-content">
                        Can I use Landwind in open-source projects?
                    </div>
                    <div class="collapse-content">
                        <p class="mb-2 text-gray-500 dark:text-base-content/60">Landwind is an open-source library of interactive components built on top of Tailwind CSS including buttons, dropdowns, modals, navbars, and more.</p>
                        <p class="text-gray-500 dark:text-base-content/60">Check out this guide to learn how to <a href="#" class="text-purple-600 dark:text-secondary hover:underline">get started</a> and start developing websites even faster with components on top of Tailwind CSS.</p>
                    </div>
                </div>
                <div class="collapse collapse-arrow join-item border-b border-gray-200 dark:border-base-300 bg-white dark:bg-base-100">
                    <input type="radio" name="faq-accordion" />
                    <div class="collapse-title py-5 font-medium text-gray-500 dark:text-base-content/60">
                        Is there a Figma file available?
                    </div>
                    <div class="collapse-content">
                        <p class="mb-2 text-gray-500 dark:text-base-content/60">Landwind is first conceptualized and designed using the Figma software so everything you see in the library has a design equivalent in our Figma file.</p>
                        <p class="text-gray-500 dark:text-base-content/60">Check out the <a href="#" class="text-purple-600 dark:text-secondary hover:underline">Figma design system</a> based on the utility classes from Tailwind CSS and components from Landwind.</p>
                    </div>
                </div>
                <div class="collapse collapse-arrow join-item border-b border-gray-200 dark:border-base-300 bg-white dark:bg-base-100">
                    <input type="radio" name="faq-accordion" />
                    <div class="collapse-title py-5 font-medium text-gray-500 dark:text-base-content/60">
                        What are the differences between Landwind and Tailwind UI?
                    </div>
                    <div class="collapse-content">
                        <p class="mb-2 text-gray-500 dark:text-base-content/60">The main difference is that the core components from Landwind are open source under the MIT license, whereas Tailwind UI is a paid product. Another difference is that Landwind relies on smaller and standalone components, whereas Tailwind UI offers sections of pages.</p>
                        <p class="mb-2 text-gray-500 dark:text-base-content/60">However, we actually recommend using both Landwind, Landwind Pro, and even Tailwind UI as there is no technical reason stopping you from using the best of two worlds.</p>
                        <p class="mb-2 text-gray-500 dark:text-base-content/60">Learn more about these technologies:</p>
                        <ul class="pl-5 text-gray-500 list-disc dark:text-base-content/60">
                            <li><a href="#" class="text-purple-600 dark:text-secondary hover:underline">Landwind Pro</a></li>
                            <li><a href="#" class="text-purple-600 dark:text-secondary hover:underline">Tailwind UI</a></li>
                        </ul>
                    </div>
                </div>
                <div class="collapse collapse-arrow join-item border-b border-gray-200 dark:border-base-300 bg-white dark:bg-base-100">
                    <input type="radio" name="faq-accordion" />
                    <div class="collapse-title py-5 font-medium text-gray-500 dark:text-base-content/60">
                        What about browser support?
                    </div>
                    <div class="collapse-content">
                        <p class="mb-2 text-gray-500 dark:text-base-content/60">The main difference is that the core components from Landwind are open source under the MIT license, whereas Tailwind UI is a paid product. Another difference is that Landwind relies on smaller and standalone components, whereas Tailwind UI offers sections of pages.</p>
                        <p class="mb-2 text-gray-500 dark:text-base-content/60">However, we actually recommend using both Landwind, Landwind Pro, and even Tailwind UI as there is no technical reason stopping you from using the best of two worlds.</p>
                        <p class="mb-2 text-gray-500 dark:text-base-content/60">Learn more about these technologies:</p>
                        <ul class="pl-5 text-gray-500 list-disc dark:text-base-content/60">
                            <li><a href="#" class="text-purple-600 dark:text-secondary hover:underline">Landwind Pro</a></li>
                            <li><a href="#" class="text-purple-600 dark:text-secondary hover:underline">Tailwind UI</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
