{% load static %}
{% load i18n %}
<section class="bg-gray-50 dark:bg-gray-800">
  <div
    class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-24 lg:px-6"
  >
    <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">{# Row #}
      <div class="text-gray-500 sm:text-lg dark:text-gray-400">
        <h2
          class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white"
        >
          {% trans "Many Integrations Out of the Box" %}
        </h2>
        <p class="mb-8 font-light lg:text-xl">
          {% blocktrans %}
            A huge and expanding number of integrations to get you started in no time.
            Our aim is to allow end users to start writing code specific to their
            applications as soon as possible, ideally within one working day after
            checking out this tool.
          {% endblocktrans %}
        </p>
        <ul
          role="list"
          class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700"
        >{# List #}
          <li class="flex space-x-3">{# Icon #}
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900 dark:text-white"
              >{% trans "GitHub Actions for Testing" %}
            </span>
          </li>

          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900 dark:text-white"
              >
              {% trans "Postgres as Main Database" %}
            </span>
          </li>

          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900 dark:text-white"
              >
              {% trans "Tailwind CSS and Flowbite" %}
            </span>
          </li>

          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900 dark:text-white"
              >
              {% trans "Dashboard Menu with Dark Mode" %}
            </span>
          </li>

          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900 dark:text-white"
              >
              {% trans "Sign In / Log In / Log Out" %}
            </span>
          </li>

          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900 dark:text-white"
              >
              {% trans "Yaml to deploy in Render.com" %}
            </span>
          </li>

          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900 dark:text-white"
              >
              {% trans "Major Payment Processors Integration (roadmap)" %}
            </span>
          </li>

          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900 dark:text-white"
              >
              {% trans "Proof of Concept Templates to use as reference for your features (roadmap)" %}
            </span>
          </li>

          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900 dark:text-white"
              >
              {% trans "Role Management for Users (roadmap)" %}
            </span>
          </li>

          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900 dark:text-white"
              >
              {% trans "Transactional Email Integration (roadmap)" %}
            </span>
          </li>
        </ul>
        <p class="mb-8 font-light lg:text-xl">
          {% blocktrans %}
            Everything you need to get started is documented in one file, included with
            the distribution. Then after creating a deployment you will be able to
            start developing your idea and interact with our community.
          {% endblocktrans %}
        </p>
      </div>
      <img
        class="hidden w-full mb-4 rounded-lg lg:mb-0 lg:flex"
        src="{% static "dj_landing_page/images/integrations.png" %}"
        alt="integrations image"
      />
    </div>
    <!-- Row -->
    <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
      <img
        class="hidden w-full mb-4 rounded-lg lg:mb-0 lg:flex"
        src="{% static "dj_landing_page/images/developer_experience.png" %}"
        alt="feature image 2"
      />
      <div class="text-gray-500 sm:text-lg dark:text-gray-400">
        <h2
          class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white"
        >
          We invest in the world’s potential
        </h2>
        <p class="mb-8 font-light lg:text-xl">
          Deliver great service experiences fast - without the complexity of
          traditional ITSM solutions. Accelerate critical development work,
          eliminate toil, and deploy changes with ease.
        </p>
        <!-- List -->
        <ul
          role="list"
          class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700"
        >
          <li class="flex space-x-3">

            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900 dark:text-white"
              >Dynamic reports and dashboards</span
            >
          </li>
          <li class="flex space-x-3">

            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900 dark:text-white"
              >Templates for everyone</span
            >
          </li>
          <li class="flex space-x-3">

            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900 dark:text-white"
              >Development workflow</span
            >
          </li>
          <li class="flex space-x-3">

            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900 dark:text-white"
              >Limitless business automation</span
            >
          </li>
          <li class="flex space-x-3">

            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900 dark:text-white"
              >Knowledge management</span
            >
          </li>
        </ul>
        <p class="font-light lg:text-xl">
          Deliver great service experiences fast - without the complexity of
          traditional ITSM solutions.
        </p>
      </div>
    </div>
  </div>
</section>
