{% load static %}
{% load i18n %}
<section class="bg-white">
  <div
    class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-24 lg:px-6"
  >
    <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">{# Row #}
      <div class="text-gray-500 sm:text-lg">
        <h2
          class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900"
        >
          {% trans "Many Integrations Out of the Box" %}
        </h2>
        <p class="mb-8 font-light lg:text-xl">
          {% blocktrans %}
            A huge and expanding number of integrations to get you started in no time.
            Our aim is to allow end users to start writing code specific to their
            applications as soon as possible, ideally within one working day after
            checking out this tool.
          {% endblocktrans %}
        </p>
        <ul
          role="list"
          class="pt-8 space-y-5 border-t border-gray-200 my-7"
        >{# List #}
          <li class="flex space-x-3">{# Icon #}
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900"
              >{% trans "GitHub Actions for Testing" %}
            </span>
          </li>

          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900"
              >
              {% trans "Postgres as Main Database" %}
            </span>
          </li>

          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900"
              >
              {% trans "Tailwind CSS and daisyUI" %}
            </span>
          </li>

          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900"
              >
              {% trans "Dashboard Menu with Dark Mode" %}
            </span>
          </li>

          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900"
              >
              {% trans "Sign In / Log In / Log Out" %}
            </span>
          </li>

          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900"
              >
              {% trans "Yaml to deploy in Render.com" %}
            </span>
          </li>

          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900"
              >
              {% trans "Major Payment Processors Integration (roadmap)" %}
            </span>
          </li>

          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900"
              >
              {% trans "Proof of Concept Templates to use as reference for your features (roadmap)" %}
            </span>
          </li>

          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900"
              >
              {% trans "Role Management for Users (roadmap)" %}
            </span>
          </li>

          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900"
              >
              {% trans "Transactional Email Integration (roadmap)" %}
            </span>
          </li>
        </ul>
        <p class="mb-8 font-light lg:text-xl">
          {% blocktrans %}
            Everything you need to get started is documented in one file, included with
            the distribution. Then after creating a deployment you will be able to
            start developing your idea and interact with our community.
          {% endblocktrans %}
        </p>
      </div>
      <img
        class="hidden w-full mb-4 rounded-lg lg:mb-0 lg:flex"
        src="{% static "dj_landing_page/images/integrations.png" %}"
        alt="integrations image"
      />
    </div>

    <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">{# Row #}
      <img
        class="hidden w-full mb-4 rounded-lg lg:mb-0 lg:flex"
        src="{% static "dj_landing_page/images/developer_experience.png" %}"
        alt="feature image 2"
      />
      <div class="text-gray-500 sm:text-lg">
        <h2
          class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900"
        >
          {% trans "Enhanced Developer Experience" %}
        </h2>

        <p class="mb-8 font-light lg:text-xl">
          {% blocktrans %}
            Targeting to improve output and quality of code, we have included
            linters, formatters, and a pre-commit hook configuration. Also adding
            many Django productivity libraries and templates to get you started.
            For those using GPT assistance, the added benefit is that models studying
            your code will be trained on best practices.
          {% endblocktrans %}
        </p>

        <ul
          role="list"
          class="pt-8 space-y-5 border-t border-gray-200 my-7"
        >{# List #}
          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900">
              {% trans "Dependency Management with Poetry" %}
              </span>
          </li>

          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900">
              {% trans "Testing with Pytest with different tests and plugins included" %}
            </span>
          </li>

          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900">
              {% trans "Accelerate development with live CSS generation and reloading" %}
            </span>
          </li>

          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900">
              {% trans "Ruff as main code linter, associated (optional) pre-commit hooks" %}
            </span>
          </li>

          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900">
              {% trans "Makefile configured to automate day-to-day tasks" %}
            </span>
          </li>

          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900">
              {% trans "(Optional) Commitizen for Release Management" %}
            </span>
          </li>

          <li class="flex space-x-3">
            {% include "dj_landing_page/partials/check_icon.svg" %}

            <span
              class="text-base font-medium leading-tight text-gray-900">
              {% trans "Django Components to DRY up the code" %}
            </span>
          </li>
        </ul>

        <p class="font-light lg:text-xl">
          {% blocktrans %}
            More are coming.
            <br />
            Anything else you want to see? Get in touch.
          {% endblocktrans %}
        </p>
      </div>
    </div>
  </div>
</section>
