{% load static %}

<section class="bg-white">
    <div class="max-w-screen-xl px-4 pb-8 mx-auto lg:pb-16">
        <div class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 sm:grid-cols-3 lg:grid-cols-6">
            <a href="https://www.python.org/" class="flex items-center lg:justify-center hover:opacity-85" target="_blank">
                <img src="{% static 'dj_landing_page/images/icons/python-logo.png' %}" alt="Python logo" />
            </a>

            <a href="https://www.djangoproject.com/" class="flex items-center lg:justify-center hover:opacity-85" target="_blank">
                <img src="{% static 'dj_landing_page/images/icons/django-logo-positive.png' %}" alt="Django logo" />
            </a>

            <a href="https://tailwindcss.com/" class="flex items-center lg:justify-center hover:opacity-85" target="_blank">
                <img src="{% static 'dj_landing_page/images/icons/tailwindcss-logotype.svg' %}" alt="Tailwind logo" />
            </a>

            <a href="https://daisyui.com/" class="flex items-center lg:justify-center hover:opacity-85" target="_blank">
                <img src="{% static 'dj_landing_page/images/icons/daisyui-logo.png' %}" alt="daisyUI logo" />
            </a>

            <a href="https://demo.themesberg.com/landwind/" class="flex items-center lg:justify-center hover:opacity-85" target="_blank">
                <img src="{% static 'dj_landing_page/images/icons/landwind-logo.png' %}" alt="Landwind logo" />
            </a>

            <a href="https://www.postgresql.org/" class="flex items-center lg:justify-center hover:opacity-85" target="_blank">
                <img src="{% static 'dj_landing_page/images/icons/postgresql_logo.png' %}" alt="Postgres logo" />
            </a>
        </div>
    </div>
</section>
