<section class="bg-gray-50 dark:bg-base-200">
    <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-16 lg:px-6">
        <div class="max-w-screen-sm mx-auto text-center">
            <h2 class="mb-4 text-3xl font-extrabold leading-tight tracking-tight text-gray-900 dark:text-base-content">Start your free trial today</h2>
            <p class="mb-6 font-light text-gray-500 dark:text-base-content/60 md:text-lg">Try Landwind Platform for 30 days. No credit card required.</p>
            <a href="#" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-secondary dark:hover:bg-secondary/80 focus:outline-none dark:focus:ring-secondary/30">Free trial for 30 days</a>
        </div>
    </div>
</section>
