{% comment %}
  This template is used to display a banner for admin-only content.
  It should be included in the header or main content area of admin pages.

  Usage:
    {% include "dj_theme/partials/admin_only_banner.html" %}
{% endcomment %}
{% load static i18n %}

<div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row dark:border-base-300 dark:bg-base-200">
  {% comment %}
    Image generated in Venice.ai with the prompt:
    Create me a vector illustration on the concept of a System Administrator. Background should be white.
  {% endcomment %}
  <img
    class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
    src="{% static "dj_pocs/systems_administrator.png" %}" alt="Map Image">

  <div class="flex flex-col justify-between p-4 leading-normal">
    <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-base-content">
      {% trans "Administrators Screen" %}
    </h3>

    <p class="mb-3 font-normal text-gray-700 dark:text-base-content/60">
      {% trans "This is an example of a page available only to administrator users." %}
      <br />
      {% trans "This screen should be visible only to users who belong to the administrators group or have is_superuser flag set." %}
    </p>
  </div>
</div>
