{% if "cookie_consent" in request.COOKIES %}
{% else %}
    <section class="fixed bottom-0 w-full bg-gray-50 dark:bg-gray-800">
        <div class="container px-4 py-8 mx-auto lg:flex lg:items-center lg:gap-x-16">
            <p class="text-gray-600 dark:text-gray-300">
                By clicking “Accept Cookies”, you agree to the storing of cookies on your device to enhance site navigation and analyze site usage.
                Please see our <a href="{% url 'dj_content:cookies-policy' %}" class="dark:hover:text-purple-700 hover:text-purple-800">Cookie Policy Document.</a>
            </p>

            <div class="flex items-center mt-6 gap-x-4 lg:gap-x-8 shrink-0 lg:mt-0">
                <button id="decline-cookies" class="text-sm w-1/2 text-gray-800 transition-colors font-medium duration-300 md:w-auto dark:text-white dark:hover:text-purple-700 hover:text-purple-800 focus:outline-none">
                    Decline Cookies
                </button>

                <button id="accept-cookies" class="px-3 py-1.5 text-sm w-1/2 text-white transition-colors font-medium duration-300 md:w-auto bg-gray-900 rounded-lg dark:hover:bg-purple-700 hover:bg-purple-800 focus:outline-none">
                    Accept Cookies
                </button>
            </div>
        </div>
    </section>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
          var acceptCookiesBtn = document.getElementById('accept-cookies');
          var declineCookiesBtn = document.getElementById('decline-cookies');

          acceptCookiesBtn.addEventListener('click', function() {
              document.cookie = 'cookie_consent=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
              window.location.reload();
          });
          declineCookiesBtn.addEventListener('click', function() {
              document.cookie = 'cookie_consent=false; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
              window.location.reload();
          });
      });
    </script>
{% endif %}
