{% extends "dj_theme/base.html" %}


{% block page_body %}
  {% comment %}
    Flowbite included at the end for both logged in and not logged in pages.
  {% endcomment %}

  <body>
    {% include "dj_theme/header.html" %}

    {% block content %} {% endblock content %}

    {% include "dj_theme/partials/cookie_consent.html" %}
    {% include "dj_theme/partials/content/footer_block.html" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
  </body>
{% endblock page_body %}
