{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DJ Forge: Unleash Yourself</title>

    {% include "dj_favicons/favicons_block_for_head.html" %}

    <link rel="stylesheet" href="{% static 'dj_theme/css/output.css' %}" />
    {% block extra_head_entries %}{# Extra head entries go here #}{% endblock extra_head_entries %}
  </head>

  {% comment %}
    There are some differences in how pages not requiring login are rendered over
    ones that do. For this <body>...</body> is rendered in inherited templates.
  {% endcomment %}

  {% block page_body %}
    <body>
      {% block content %} {% endblock content %}

      <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    </body>
  {% endblock page_body %}
</html>
