{% extends "dj_theme/base.html" %}
{% load static %}


{% block extra_head_entries %}
  {{ block.super }}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

  <script>
    if (localStorage.getItem('color-theme') === 'dark' ||
        (!('color-theme' in localStorage) &&
        window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
        document.documentElement.setAttribute('data-theme', 'night');
    } else {
        document.documentElement.classList.remove('dark');
        document.documentElement.setAttribute('data-theme', 'light');
    }
  </script>
{% endblock extra_head_entries %}

{% block page_body %}
  <body class="bg-gray-50 dark:bg-base-200">
    {% block navigation_bar %}
      {% include "dj_theme/partials/top_navigation_bar.html" %}
    {% endblock navigation_bar %}

    <div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-base-100">
      {% block side_navigation_bar %}
        {% include "dj_theme/partials/aside_navigation_bar.html" %}
      {% endblock side_navigation_bar %}

      <div
        id="main-content"
        class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-base-100"
      >
        <main>
          <div class="px-4 pt-6">
            {% block logged_in_content %} {% endblock logged_in_content %}
          </div>
        </main>

        {% include "dj_theme/partials/cookie_consent.html" %}
        {% include "dj_theme/partials/footer.html" %}
      </div>

      {% block end_of_content_scripts %}
        <script>
          {% include "dj_theme/js/navigation_menu.js" %}
          {% include "dj_theme/js/dark-mode.js" %}
        </script>
      {% endblock end_of_content_scripts %}
    </div>

  </body>
  {% comment %} ... initial version finishes with:  </html> {% endcomment %}
{% endblock page_body %}
