{% extends "dj_theme/base_logged_in.html" %}
{% load static %}

{% block extra_head_entries %}
  {{ block.super }}
{% endblock extra_head_entries %}

{% block navigation_bar %}
  {% include "dj_theme/partials/top_navigation_bar-full.html" %}
{% endblock navigation_bar %}

{% block side_navigation_bar %}
  {% include "dj_theme/partials/aside_navigation_bar-full.html" %}
{% endblock side_navigation_bar %}

{% block end_of_content_scripts %}
  {{ block.super }}

  <script async defer src="https://buttons.github.io/buttons.js"></script>
  {% comment %}
    Bundle originally from:

    https://flowbite-admin-dashboard.vercel.app/app.bundle.js
  {% endcomment %}
  <script src="{% static 'dj_theme/js/app.bundle.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/datepicker.min.js"></script>
{% endblock end_of_content_scripts %}

{% block logged_in_content %}
  <main>
    <div class="px-4 pt-6">
      <div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3">
        {% include "dj_theme/partials/main_chart_widget.html" %}

        {% include "dj_theme/partials/tabs_widget_statistics.html" %}
      </div>

      {% include "dj_theme/partials/small_bar_charts.html" %}

      <div class="grid grid-cols-1 my-4 xl:grid-cols-2 xl:gap-4">
        {% include "dj_theme/partials/chat_card.html" %}

        <!-- Right Content -->
        <div class="grid gap-4">
          {% include "dj_theme/partials/bar_chart_card.html" %}

          {% include "dj_theme/partials/pie_chart_card.html" %}
        </div>
      </div>
      <!-- 2 columns -->
      <div class="grid grid-cols-1 my-4 xl:grid-cols-2 xl:gap-4">
        {% include "dj_theme/partials/activity_card.html" %}

        {% include "dj_theme/partials/carousel_widget.html" %}
      </div>

      {% include "dj_theme/partials/transactions_table.html" %}
    </div>
  </main>
{% endblock logged_in_content %}
