{% load allauth %}
<label for="{{ field.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-base-content">
  {{ field.label }}
</label>
{% if field.type == "textarea" %}
  <textarea {% if field.required %}required{% endif %}
            {% if field.rows %}rows="{{ field.rows }}"{% endif %}
            {% if field.disabled %}disabled{% endif %}
            {% if field.readonly %}readonly{% endif %}
            {% if field.checked %}checked{% endif %}
            {% if field.name %}name="{{ field.name }}"{% endif %}
            {% if field.id %}id="{{ field.id }}"{% endif %}
            {% if field.placeholder %}placeholder="{{ field.placeholder }}"{% endif %}
            {% if field.errors %}
              class="bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-base-300 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500"
            {% else %}
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-base-300 dark:border-base-content/20 dark:placeholder-base-content/50 dark:text-base-content dark:focus:ring-info dark:focus:border-info dark:shadow-sm-light"
            {% endif %}
            >{% slot value %}{% endslot %}</textarea>
{% else %}
  <input {% if field.required %}required{% endif %}
         {% if field.disabled %}disabled{% endif %}
         {% if field.readonly %}readonly{% endif %}
         {% if field.checked %}checked{% endif %}
         {% if field.name %}name="{{ field.name }}"{% endif %}
         {% if field.id %}id="{{ field.id }}"{% endif %}
         {% if field.placeholder %}placeholder="{{ field.placeholder }}"{% endif %}
         {% if field.autocomplete %}autocomplete="{{ field.autocomplete }}"{% endif %}
         value="{{ field.value|default_if_none:"" }}"
         type="{{ field.type }}"
         {% if field.errors %}
          class="bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-base-300 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500"
         {% else %}
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-base-300 dark:border-base-content/20 dark:placeholder-base-content/50 dark:text-base-content dark:focus:ring-info dark:focus:border-info dark:shadow-sm-light"
         {% endif %}
         >
{% endif %}

{% if field.errors %}
<p class="text-red-500 text-xs italic">
  {% for error in field.errors %}
    {{ error }}<br />
  {% endfor %}
</p>
{% endif %}

{% if slots.help_text %}
  <span>{% slot help_text %}</span>
  {% endslot %}
{% endif %}
