{% extends "_base.html" %}

{% load static %}

{% block content %}

    {% include "dj_landing_page/partials/header.html" %}

    <section class="bg-white dark:bg-gray-900">
      <div
        class="items-center max-w-screen-xl px-4 py-8 mx-auto lg:gap-16 xl:gap-24 lg:py-24 lg:px-6"
      >
        <div class="col-span-2 mb-8">
          <h2
            class="mt-3 mb-4 text-3xl font-extrabold tracking-tight text-gray-900 md:text-3xl dark:text-white"
          >
            About Us
          </h2>

          <p class="mb-3 text-gray-500 dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-gray-900 dark:first-letter:text-gray-100 first-letter:me-3 first-letter:float-start">
              We are certainly at the dawn of a new era in terms of entrepreneurship and creativity.
              On the one hand, we have new technologies, especially in the field of
              <span class="font-bold text-gray-900 dark:text-white">AI</span>,
              many of which release new products every day. On the other hand, we have had a wave
              of lay-offs in the technology field, which means that there are many people able and
              willing to make something new as a result of this. That is, they do not have a job and
              they want to try something new.
          </p>

            With this in mind, there have been many solutions in different programming languages
            but also different frameworks in each programming language, which help someone to start
            a new product/solution/SaaS/company to try an idea in weeks, if not in days.

            When starting a new project, many of us do the same steps over and over again,
            especially if this project starts from scratch, such as connecting our favourite
            database, a linter or some other tool that contains the code, installing a testing
            library, things that usually take up to one or two weeks, something that is negligible
            if we work on this program for years or months, but it is something very proportionally
            expensive if we want to do something that is a two or three day job.

            And this gap is coming to cover all these frameworks that are out there,
            having exactly this approach. That is, for what reason to do this job again for a
            few days or weeks, while you can have it ready and start immediately testing your idea,
            or simply create a homepage to see who is interested, and later on instead of throwing
            it away and continue with something new, continue building on it.

            For reasons of completeness, it must be mentioned that to get a large block of
            ready-made code and start from it, has the cost that you have to learn and understand
            how this code works. Here the argument would against it is that you need to do this
            only once, and secondly, if this code is structured not with too many features,
            then it seems to have a normal flow, so the cost is not so great. And certainly,
            from whichever side we take it, this cost is something that is paid only once.
            That is, in the second project, you do not need to learn anything because you have
            already learned.

            Speaking specifically about **DJ Django**, the question is, why **Python** and why
            **Django**, when a large part of the industry is testing ideas in NEXT.js and React?

            Let's first answer about **Python**. **Python** is the language of **data science** and
            **AI**.
            Therefore, there are many things (libraries, available code, solutions) that one would
            like to try, and they have something ready-made in **Python**.
            So, if you start with Next.js, for example, you would have to somehow connect with
            this library.

            The second reason is that **Python** is the first programming language not only for new
            **programmers** learn, but also in other fields such as **economists**,
            **data scientists**, **analysts**, etc. There are many young people who know
            **Python** before anything else and would like to try building something.

            Then let's talk about Django. Here is the thing: because it is a framework which
            follows the so-called "Batteries Included" approach, one can start very quickly and
            iterate very quickly. A criticism that is exercised in this is that, in contrast to
            Flask and FastAPI, it is not so easy let's say to integrate with React/Vue or other
            modern JavaScript Frameworks. 
            In the first steps of developing a solution, this might be an advantage, because
            one can get to a solution way faster as all parts of the solution are in one codebase,
            with the programmer(s) involved able to concentrate on fewer fronts. If you have a
            modern JavaScript framework is to be used, it can be done later, while we are
            considering supplying a solution for this as well in the future.

            There are some other solutions for a more responsive UI, such as HTMX, which
            will be integrated very quickly into **DJ Django**,
            if it has not already been integrated when reading these lines.

            With these, you can start and test your idea. We wish you all the best,
            so that what you are after can start from here, be it a side-project complementing
            your income, a small company, or "the next big thing" in your sector. Best of luck!

          
          <blockquote class="text-xl italic font-semibold text-gray-900 dark:text-white">
              <svg class="w-8 h-8 text-gray-400 dark:text-gray-600 mb-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
                  <path d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"/>
              </svg>
              <p>"Flowbite is just awesome. It contains tons of predesigned components and pages starting from login screen to complex dashboard. Perfect choice for your next SaaS application."</p>
          </blockquote>
          
        </div>
      </div>
    </section>
{% endblock content %}
