{% extends "dj_theme/base_not_logged_in.html" %}

{% load static %}
{% load i18n %}

{% block content %}
  {% include "dj_theme/header.html" %}

  <section class="bg-white dark:bg-base-100">
    <div class="items-center max-w-screen-xl px-4 py-8 mx-auto lg:gap-16 xl:gap-24 lg:py-24 lg:px-6">
      <div class="col-span-2 mb-8">
        {% include "dj_theme/messages.html" %}

        <h2 class="mt-3 mb-4 text-3xl font-extrabold tracking-tight text-gray-900 md:text-3xl dark:text-base-content">
          {% trans "License" %}
        </h2>

        <pre>
          {% for line in license_lines %}
            {{ line }}
          {% endfor %}
        </pre>
    </div>
  </section>

  {% include "dj_theme/partials/content/footer_block.html" %}
{% endblock content %}
