<!--
  TODO
    - add % trans %
    - add how to use doc
-->

<c-vars
  container_class="grid grid-cols-2 gap-8 md:grid-cols-3 lg:grid-cols-4"
  header_class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
  list_class="text-gray-500 dark:text-gray-400"
  option_class="mb-4"
  anchor_class="hover:underline"
/>


<div class="{{ container_class }}">
    {% for header, options in tabs.items %}
      <div>
        <h3 class="{{ header_class }}">{{ header }}</h3>

        <ul class="{{ list_class }}">
        {% for option in options %}
          <li class="{{ option_class }}">
            <a href="{{ option.href }}" class="{{ anchor_class }}">{{ option.name }}</a>
          </li>
        {% endfor %}
        </ul>
      </div>
  {% endfor %}
</div>
