{% load i18n %}{% load dj_emails_tags %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en">

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <div style="display:none;overflow:hidden;line-height:1px;opacity:0;max-height:0;max-width:0">{% trans "Please Confirm your Email" %}</div>

  <body style="background-color:#efeef1;font-family:HelveticaNeue,Helvetica,Arial,sans-serif">
    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="max-width:580px;margin:30px auto;background-color:#ffffff">
      <tbody>
        <tr style="width:100%">
          <td>
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="display:flex;justify-content:center;aling-items:center;padding:30px">
              <tbody>
                <tr>
                  <td><img src="{% logo_base64_png %}" style="display:block;outline:none;border:none;text-decoration:none" width="114" /></td>
                </tr>
              </tbody>
            </table>
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="width:100%;display:flex">
              <tbody>
                <tr>
                  <td>
                    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation">
                      <tbody style="width:100%">
                        <tr style="width:100%">
                          <td data-id="__react-email-column" style="border-bottom:1px solid rgb(238,238,238);width:249px"></td>
                          <td data-id="__react-email-column" style="border-bottom:1px solid rgb(145,71,255);width:102px"></td>
                          <td data-id="__react-email-column" style="border-bottom:1px solid rgb(238,238,238);width:249px"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="padding:5px 20px 10px 20px">
              <tbody>
                <tr>
                  <td>
                    <p style="font-size:14px;line-height:1.5;margin:16px 0">{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Hi from {{ site_domain }},{% endblocktrans %}</p>
                    <p style="font-size:14px;line-height:1.5;margin:16px 0">{% trans "You are receiving this email because your email address was given to register an account our application." %}</p>
                    <p style="font-size:14px;line-height:1.5;margin:16px 0">{% trans "To confirm this is correct:" %}</p>
                    <p style="font-size:14px;line-height:1.5;margin:16px 0">
                    <p style="font-size:14px;line-height:24px;margin:16px 0;display:flex;justify-content:center"><a href="{{ activate_url }}" class="hover:bg-indigo-700" style="color:rgb(255,255,255);text-decoration:none;background-color:rgb(79,70,229);padding-left:1rem;padding-right:1rem;padding-top:0.5rem;padding-bottom:0.5rem;border-radius:0.375rem" target="_blank">{% trans "Confirm Email" %}</a></p>
                    </p>
                    <p style="font-size:14px;line-height:1.5;margin:16px 0">{% trans "Alternatively copy and paste the following URL into your browser:" %}<br />{{ activate_url }}</p>
                    <p style="font-size:14px;line-height:1.5;margin:16px 0">{% trans "Thanks," %}<br />{% trans "The DJ Forge Team" %}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="max-width:580px;margin:0 auto">
      <tbody>
        <tr>
          <td>
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation">
              <tbody style="width:100%">
                <tr style="width:100%">
                  <p style="font-size:14px;line-height:24px;margin:16px 0;text-align:center;color:#706a7b">© YEAR_HERE DJ Forge</p>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>

</html>
