{% load static %}
<hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">

<div class="text-center">
  <a href="#" class="flex items-center justify-center mb-5 text-2xl font-semibold text-gray-900 dark:text-white">
    <img src="{% static 'dj_favicons/favicon-32x32.png' %}" class="h-6 mr-3 sm:h-9" alt="Logo" />
    DJ Forge
  </a>

  <span class="block text-sm text-center text-gray-500 dark:text-gray-400">
    © 2023-2024 DJ Forge™. All Rights Reserved.
    Built with <a href="https://daisyui.com/" class="text-purple-600 hover:underline dark:text-purple-500">daisyUI</a> and <a href="https://tailwindcss.com" class="text-purple-600 hover:underline dark:text-purple-500">Tailwind CSS</a>.
  </span>
</div>
